*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url('https://images.pexels.com/photos/3532540/pexels-photo-3532540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    /* border: 2px solid red; */
    height: 100px;
}
.form-container{
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.input-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.input-half{
    width: 48%;
}
.input-label, .currency-label{
    display: block;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px;
}
.input-field{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
}
.select-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.currency-select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f0f0f0;
    cursor: pointer;
    outline: none;
}
.swap-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E40AF;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Convert button */
.convert-button {
    width: 100%;
    padding: 15px;
    background-color: #1E40AF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}